/* src/app/camera/styles.css */
/* src/app/camera/styles.css */

/* カメラページ専用スタイル */
.camera-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .camera-button {
    width: 100px;
    height: 100px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%; /* 丸形にするために半径を50%に設定 */
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .camera-button:hover {
    background-color: #45a049;
  }
  
  /* 全体レイアウト用スタイル */
  .layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  .footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 0.5rem;
  }
  

  
  