/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-gray-900 bg-gray-50;
}

/* 共通ボタンスタイル */
.btn {
    @apply px-6 py-2 text-white bg-blue-500 rounded-lg hover:bg-blue-600 transition duration-200;
  }

  /* カードコンポーネント */
  .card {
    @apply p-4 border border-gray-400 rounded-lg bg-gray-100 shadow hover:shadow-lg transition;
  }

/* スマートフォン向けのスタイル */
@media (max-width: 639px) {
    .message-box {
      padding: 1rem;
      font-size: 0.875rem;
    }
  }

  /* タブレット向けのスタイル */
  @media (min-width: 640px) and (max-width: 1023px) {
    .message-box {
      padding: 1.5rem;
      font-size: 1rem;
    }
  }